@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    -webkit-text-decoration-skip: ink;
            text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        -webkit-animation-duration: 0.01ms !important;
                animation-duration: 0.01ms !important;
        -webkit-animation-iteration-count: 1 !important;
                animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type=checkbox],
    input[type=radio] {
        --active: var(--main-color);
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, .3);
        --border: #BBC1E1;
        --border-hover: rgba(100, 63, 254, 0.66);
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 18px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }

    input[type=checkbox]:after,
    input[type=radio]:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }

    input[type=checkbox]:checked,
    input[type=radio]:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }

    input[type=checkbox]:disabled,
    input[type=radio]:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
    }

    input[type=checkbox]:disabled:checked,
    input[type=radio]:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }

    input[type=checkbox]:disabled + label,
    input[type=radio]:disabled + label {
        cursor: not-allowed;
    }

    input[type=checkbox]:hover:not(:checked):not(:disabled),
    input[type=radio]:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }

    input[type=checkbox]:focus,
    input[type=radio]:focus {
        box-shadow: 0 0 0 var(--focus);
    }

    input[type=checkbox]:not(.switch),
    input[type=radio]:not(.switch) {
        width: 18px;
    }

    input[type=checkbox]:not(.switch):after,
    input[type=radio]:not(.switch):after {
        opacity: var(--o, 0);
    }

    input[type=checkbox]:not(.switch):checked,
    input[type=radio]:not(.switch):checked {
        --o: 1;
    }

    input[type=checkbox] + label,
    input[type=radio] + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }

    input[type=checkbox]:not(.switch) {
        border-radius: 4px;
    }

    input[type=checkbox]:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 50%;
        top: 50%;
        transform: rotate(var(--r, 20deg)) translate(-100%, -30%);
    }

    input[type=checkbox]:not(.switch):checked {
        --r: 43deg;
    }

    input[type=checkbox].switch {
        width: 38px;
        border-radius: 11px;
    }

    input[type=checkbox].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
    }

    input[type=checkbox].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }

    input[type=checkbox].switch:disabled:not(:checked):after {
        opacity: 0.6;
    }

    input[type=radio] {
        border-radius: 50%;
    }

    input[type=radio]:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, 0.7));
    }

    input[type=radio]:checked {
        --s: .5;
    }
}

ul {
    margin: 12px;
    padding: 0;
    list-style: none;
    width: 100%;
    max-width: 320px;
}

ul li {
    margin: 16px 0;
    position: relative;
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

*:before, *:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    font-family: "Inter", Arial, sans-serif;
    color: #8A91B4;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F6F8FF;
}

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }
}

:root {
    --main-color: #643FFE;
    --content: 1280px;
    --background: #040404;
    --gray: #AFAFAF;
}

* {
    font-family: 'Raleway', sans-serif;
    color: white;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}


#app {
    margin: 0;
    padding: 0;
    max-width: var(--content);
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 40px;
}

.template {
    max-width: var(--content);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
}

.ti-btn {
    color: white;
    font-family: 'Raleway', sans-serif;
    background-color: var(--main-color);
    border: none;
    border-radius: 0.2em;
    outline: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: box-shadow 0.7s ease-out;
    -webkit-appearance: none;
    width: auto;
    justify-content: center;
    padding: 2px 28px 0 28px;
    height: 37px;
    font-size: 14px;
    cursor: pointer;
}

.ti-btn i {
    margin-right: 5px;
}

.ripple {
    background-color: rgba(113, 79, 255, 0.7);
    width: 1rem;
    height: 1rem;
    position: absolute;
    border-radius: 50%;
    transform: translateX(-100%) translateY(-100%);
    mix-blend-mode: screen;
    -webkit-animation: ripple 1550ms ease-out forwards, fade 1750ms ease-out forwards;
            animation: ripple 1550ms ease-out forwards, fade 1750ms ease-out forwards;
}

img {
    width: 100%;
    height: 100%;
}

.mobile {
    display: none;
}

.account-container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    width: 100%;
}

.footer-page-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.footer-page-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 26px;
}

.footer-page-head h3 {
    font-weight: 700;
    font-size: 19px;
    border-bottom: 2px solid var(--main-color);
    margin-right: 7px;
}

.footer-page-head p {
    color: #808080;
    font-weight: 500;
    font-size: 16px;
    transform: translateY(3px);
}

.footer-page-title {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 20px;
}

.footer-page-subtitle {
    font-weight: 500;
    font-size: 16px;
    color: #7F7F7F;
    margin-bottom: 20px;
}

@media (max-width: 550px) {
    .mobile {
        display: block;
    }

    .account-container {
        flex-direction: column;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

@-webkit-keyframes ripple {
    0% {
        transform: translate(-100%, -100%);
    }
    80% {
        transform: translate(-100%, -100%) scale(50);
    }
    100% {
        transform: translate(-100%, -100%) scale(50);
        opacity: 0;
    }
}

@keyframes ripple {
    0% {
        transform: translate(-100%, -100%);
    }
    80% {
        transform: translate(-100%, -100%) scale(50);
    }
    100% {
        transform: translate(-100%, -100%) scale(50);
        opacity: 0;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border: 0 none #ffffff;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
}

::-webkit-scrollbar-thumb:active {
    background: var(--main-color);
}

::-webkit-scrollbar-track {
    background: none;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: none;
}

::-webkit-scrollbar-track:active {
    background: none;
}

::-webkit-scrollbar-corner {
    background: transparent;
}


/*# sourceMappingURL=app.css.map*/