@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('reset.css');

:root {
    --main-color: #643FFE;
    --content: 1280px;
}

* {
    font-family: 'Raleway', sans-serif;
    color: white;
}

body {
    background: #040404;
}

body, #app, .template {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.template {
    max-width: var(--content);
}



